# Quarto build output
_book/
_freeze/
_site/
*_files/

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
.venv/

# OS
.DS_Store

/.quarto/

**/*.quarto_ipynb

# hidden
_hidden/

# local data
data/swiss-health/